<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!--LINK TAILWIND-->
     <script src="https://cdn.tailwindcss.com"></script>
    <title>Dashboard</title>
</head>
<body class="bg-slate-50 min-h-screen p-6 md:p-10 font-sans">
<div class="add-tareas max-w-4xl mx-auto">

    <div class="flex flex-clo sm:flex-row gap-3 mb-8">
    <input type="text" name="" id="nueva_tarea" placeholder="Escribe una nueva tarea..." class="nueva_tarea flex-1 px-4 py-3 rounded-xl border border-slate-200 bg-white text-slate-800 focus:outline-none focus:border-indigo-500 focus:ring-4 focus:ring-indigo-100 transition-all shadow-sm">
    <button type="button" id="agregar_tarea" class="px-6 py-3 bg-indigo-600 hover:bg-indigo-700 text-white font-bold rounded-xl shadow-md shadow-indigo-100 cursor-pointer transition-colors whitespace-nowrap">Agregar Tarea</button>
    </div>

    <div id="list-tareas">
        <ul id="contenedor-li" class="grid grid-cols-1 md:grid-cols-2 gap-4"
            
        </ul>
    </div>
</div>
</body>

<script src="../JS/dashboard_main.js"></script>
</html>