<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
<div class="add-tareas">

    <input type="text" name="" id="nueva_tarea" class="nueva_tarea">
    <button type="button" id="agregar_tarea">Agregar Tarea</button>

    <div id="list-tareas">
        <ul id="contenedor-li">
            
        </ul>
    </div>
</div>
</body>

<script src="../JS/dashboard_main.js"></script>
</html>