<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--TAILWIND-->
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Registro</title>
</head>
<body class="flex items-center justify-center min-h-screen bg-slate-100" >
    
    <form id="Registrar-form" action="" method="post">
    <div class="registro-form bg-white p-8 rounded-2xl shadow-lg w-full max-w-md">
        <div class="titulo-registro">
            <h1 class="text-3xl font-bold text-center mb-6 text-slate-800">Registro</h1>
        </div>

        <div class="form-container flex flex-col gap-4">
            <label for="email" class="text-sm font-semibold text-slate-700">Correo electronico:</label>
            <input type="email" name="email" id="email-input" required class="px-4 py-2.5 border border-slate-200 rounded-xl bg-slate-50 focus:outline-none focus:border-violet-500 focus:bg-white transition-all mt-1">
            <label for="password" class="text-sm font-semibold text-slate-700">Contraseña:</label>
            <input type="password" name="password" id="password-input" maxlength="8" required class="px-4 py-2.5 border border-slate-200 rounded-xl bg-slate-50 focus:outline-none focus:border-violet-500 focus:bg-white transition-all mt-1">
            <label for="password-confirm" class="text-sm font-semibold text-slate-700">Confirmacion de contraseña:</label>
            <input type="password" name="password-confirm" maxlength="8" id="password-confirm-input" class="px-4 py-2.5 border border-slate-200 rounded-xl bg-slate-50 focus:outline-none focus:border-violet-500 focus:bg-white transition-all mt-1">
        </div>

        <div class="container-button">
            <input type="submit" value="Registrar" class="w-full mt-4 py-3 bg-violet-600 hover:bg-violet-700 text-white font-bold rounded-xl cursor-pointer transition-colors">

        </div>

        <a class="text-center underline decoration-solid text-[#2757F5] " href="/frontend/index.html">¿Ya tienes una cuenta?Inicia Sesion</a>
    </div>

    </form>
</body>

<script type="module" src="../JS/registro.js"></script>
</html>